<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predicciones Mundialistas</title>
    <!-- Hoja de estilo propia -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!-- Tema personalizado de Bootstrap de https://www.bootstrapcdn.com/bootswatch/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/superhero/bootstrap.min.css"
          integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO" crossorigin="anonymous">

    <!-- Fuente personalizada de Google Fonts: Changa -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
</head>
<body class="p-4">
    <h2 class="page-header">Bienvenido {{nombre_usuario}}</h2>
    <a href="{{ url_for('logout') }}"> Cerrar Sesión </a>
    <h1 class="display-4 text-center mt-4 titulo">Realiza tus Predicciones para El Mundial</h1>
    <div class="container">
        <div class="row">
        {% for grupo in data.grupos %}
            <div class="col-sm-3">
                <div class="card-header mt-3">
                    <h5 class="card-title text-center">GRUPO {{grupo.letra}}</h5>
                    <ul class="list-group list-group-flush">
                    {% for equipo in grupo.opciones_equipos %}
                        <li class="list-group-item">{{equipo.nombre}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% if data.predicciones == [] %}
    <div class="col-md-12 text-center mt-5">
        <h3>Selecciona los Equipos Clasificados de Cada Grupo</h3>
        <form action="{{ url_for('dashboard') }}" method="post">
            <div class="row">
                {% for grupo in data.grupos %}
                    <div class="col-sm-3">
                        <div class="card-header">
                            <h5 class="card-title text-center">Grupo {{grupo.letra}}</h5>
                            <div class="card-body">
                                <input type='hidden' name='grupo_{{grupo.indice}}' value='{{grupo.id_grupo}}' />
                                <h6>Equipo Clasificado 1er Puesto</h6>
                                <select name='equipo_clasificado_1_{{grupo.indice}}' class="form-control">
                                {% for equipo in grupo.opciones_equipos %}
                                    <option value='{{equipo.id_equipo}}'>{{equipo.nombre}}</option>
                                {% endfor %}
                                </select>
                                <h6 class="mt-3">Equipo Clasificado 2do Puesto</h6>
                                <select name='equipo_clasificado_2_{{grupo.indice}}' class="form-control">
                                {% for equipo in grupo.opciones_equipos %}
                                    <option value='{{equipo.id_equipo}}'>{{equipo.nombre}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                <div class="col-md-12 text-center mt-4">
                    <h2>Ronda Cuartos de Final</h2>
                    <div class="row mt-3">
                        <div class="col-sm-3">
                            <div class="card-header">
                                <h5>Cuartos de Final 1</h5>
                            </div>
                            <div class="card-body">
                                <h5>Ganador P1 Octavos</h5>
                                <select name="ganador_P1" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                                <div class="text-center mt-2"></div>
                                <h4>Vs.</h4>
                                <h5>Ganador P3 Octavos</h5>
                                <select name="ganador_P3" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card-header">
                                <h5>Cuartos de Final 2</h5>
                            </div>
                            <div class="card-body">
                                <h5>Ganador P2 Octavos</h5>
                                <select name="ganador_P2" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                                <div class="text-center mt-2"></div>
                                <h4>Vs.</h4>
                                <h5>Ganador P4 Octavos</h5>
                                <select name="ganador_P4" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card-header">
                                <h5>Cuartos de Final 3</h5>
                            </div>
                            <div class="card-body">
                                <h5>Ganador P5 Octavos</h5>
                                <select name="ganador_P5" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                                <div class="text-center mt-2"></div>
                                <h4>Vs.</h4>
                                <h5>Ganador P7 Octavos</h5>
                                <select name="ganador_P7" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card-header">
                                <h5>Cuartos de Final 4</h5>
                            </div>
                            <div class="card-body">
                                <h5>Ganador P6 Octavos</h5>
                                <select name="ganador_P6" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                                <div class="text-center mt-2"></div>
                                <h4>Vs.</h4>
                                <h5>Ganador P8 Octavos</h5>
                                <select name="ganador_P1" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center mt-4">
                    <h2>Ronda Semifinal</h2>
                    <div class="row mt-3">
                        <div class="col-sm-6">
                            <div class="card-header">
                                <h4>Semifinal 1</h4>
                            </div>
                            <div class="card-body">
                                <h4>Ganador Cuartos 1</h4>
                                <select name="ganador_P1" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                                <div class="text-center mt-2"></div>
                                <h4>Vs.</h4>
                                <h4>Ganador Cuartos 3</h4>
                                <select name="ganador_P3" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card-header">
                                <h4>Semifinal 2</h4>
                            </div>
                            <div class="card-body">
                                <h4>Ganador Cuartos 2</h4>
                                <select name="ganador_P1" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                                <div class="text-center mt-2"></div>
                                <h4>Vs.</h4>
                                <h4>Ganador Cuartos 4</h4>
                                <select name="ganador_P3" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center mt-4">
                    <h2>Final</h2>
                    <div class="row mt-3">
                        <div class="col-sm-6">
                            <div class="card-body">
                                <h4>Ganador Semifinal 1</h4>
                                <select name="ganador_P1" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                                <div class="text-center mt-2"></div>
                                <h4>Vs.</h4>
                                <h4>Ganador Semifinal 2</h4>
                                <select name="ganador_P3" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card-header mt-5">
                                <h2>Campeón</h2>
                                <select name="ganador_P1" class="form-control">
                                    <option>Equipo Ganador</option>
                                    <option>Equipo Ganador</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg mt-3">Guardar Predicciones</button>
        </form>
    </div>
    {% endif %}
    {% if data.predicciones != [] %}
    <div class="col-md-12 text-center mt-5">
        <h3>Estas son las predicciones que ingresaste previamente</h3>
        <div class="row">
        {% for prediccion in data.predicciones %}
            <div class="col-sm-3">
                <div class="card-header mt-3">
                    <h5 class="card-title text-center">GRUPO {{prediccion.letra}}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1er Equipo Clasificado: {{prediccion.equipo_clasificado_1}}</li>
                        <li class="list-group-item">2do Equipo Clasificado: {{prediccion.equipo_clasificado_2}}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
</body>
</html>