<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fase Final</title>
    <!-- Hoja de estilo propia -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!-- Tema personalizado de Bootstrap de https://www.bootstrapcdn.com/bootswatch/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/superhero/bootstrap.min.css"
          integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO" crossorigin="anonymous">

    <!-- Fuente personalizada de Google Fonts: Changa -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
</head>
<body>
    <div class="col-md-12 text-center mt-5">
        <h3>Ronda de 16</h3>
        <div class="row">
            <div class="col">
                <div class="card-header mt-3">
                    <h5 class="card-title text-center">Rd 16 P1</h5>
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="1ro A">
                </div>
                    <div class="text-center">
                        <h4>Vs.</h4>
                    </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="2do B">
                </div>
            </div>
            <div class="col">
                <div class="card-header mt-3">
                    <h5 class="card-title text-center">Rd 16 P2</h5>
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="1ro B">
                </div>
                    <div class="text-center">
                        <h4>Vs.</h4>
                    </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="2do A">
                </div>
            </div>
            <div class="col">
                <div class="card-header mt-3">
                    <h5 class="card-title text-center">Rd 16 P3</h5>
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="1ro C">
                </div>
                    <div class="text-center">
                        <h4>Vs.</h4>
                    </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="2do D">
                </div>
            </div>
            <div class="col">
                <div class="card-header mt-3">
                    <h5 class="card-title text-center">Rd 16 P4</h5>
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="1ro D">
                </div>
                    <div class="text-center">
                        <h4>Vs.</h4>
                    </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="2do C">
                </div>
            </div>
            <div class="col">
                <div class="card-header mt-3">
                    <h5 class="card-title text-center">Rd 16 P5</h5>
                    </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="1ro E">
                </div>
                    <div class="text-center">
                        <h4>Vs.</h4>
                    </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="2do F">
                </div>
            </div>
            <div class="col">
                <div class="card-header mt-3">
                    <h5 class="card-title text-center">Rd 16 P6</h5>
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="1ro F">
                </div>
                    <div class="text-center">
                        <h4>Vs.</h4>
                    </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="2do E">
                </div>
            </div>
            <div class="col">
                <div class="card-header mt-3">
                    <h5 class="card-title text-center">Rd 16 P7</h5>
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="1ro G">
                </div>
                    <div class="text-center">
                        <h4>Vs.</h4>
                    </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="2do H">
                </div>
            </div>
            <div class="col">
                <div class="card-header mt-3">
                    <h5 class="card-title text-center">Rd 16 P8</h5>
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="1ro H">
                </div>
                    <div class="text-center">
                        <h4>Vs.</h4>
                    </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="2do G">
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <form action="", method="post">
            <div class="col-md-12 text-center mt-4">
                <h2>Haz tus predicciones para la Fase Final<br><br>Ronda Cuartos de Final</h2>
                <div class="row mt-3">
                    <div class="col-sm-3">
                        <div class="card-header">
                            <h4>Cuartos 1</h4>
                        </div>
                        <div class="card-body">
                            <h4>Ganador Rd 16 P1</h4>
                            <select name="ganador_P1" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                            <div class="text-center mt-2"></div>
                            <h4>Vs.</h4>
                            <h4>Ganador Rd 16 P3</h4>
                            <select name="ganador_P3" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card-header">
                            <h4>Cuartos 2</h4>
                        </div>
                        <div class="card-body">
                            <h4>Ganador Rd 16 P2</h4>
                            <select name="ganador_P2" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                            <div class="text-center mt-2"></div>
                            <h4>Vs.</h4>
                            <h4>Ganador Rd 16 P4</h4>
                            <select name="ganador_P4" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card-header">
                            <h4>Cuartos 3</h4>
                        </div>
                        <div class="card-body">
                            <h4>Ganador Rd 16 P5</h4>
                            <select name="ganador_P5" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                            <div class="text-center mt-2"></div>
                            <h4>Vs.</h4>
                            <h4>Ganador Rd 16 P7</h4>
                            <select name="ganador_P7" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card-header">
                            <h4>Cuartos 4</h4>
                        </div>
                        <div class="card-body">
                            <h4>Ganador Rd 16 P6</h4>
                            <select name="ganador_P6" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                            <div class="text-center mt-2"></div>
                            <h4>Vs.</h4>
                            <h4>Ganador Rd 16 P8</h4>
                            <select name="ganador_P1" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center mt-4">
                <h2>Ronda Semifinal</h2>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <div class="card-header">
                            <h4>Semifinal 1</h4>
                        </div>
                        <div class="card-body">
                            <h4>Ganador Cuartos 1</h4>
                            <select name="ganador_P1" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                            <div class="text-center mt-2"></div>
                            <h4>Vs.</h4>
                            <h4>Ganador Cuartos 3</h4>
                            <select name="ganador_P3" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card-header">
                            <h4>Semifinal 2</h4>
                        </div>
                        <div class="card-body">
                            <h4>Ganador Cuartos 2</h4>
                            <select name="ganador_P1" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                            <div class="text-center mt-2"></div>
                            <h4>Vs.</h4>
                            <h4>Ganador Cuartos 4</h4>
                            <select name="ganador_P3" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center mt-4">
                <h2>Final</h2>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <div class="card-body">
                            <h4>Ganador Semifinal 1</h4>
                            <select name="ganador_P1" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                            <div class="text-center mt-2"></div>
                            <h4>Vs.</h4>
                            <h4>Ganador Semifinal 2</h4>
                            <select name="ganador_P3" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card-header mt-5">
                            <h2>Campeón</h2>
                            <select name="ganador_P1" class="form-control">
                                <option>Equipo Ganador</option>
                                <option>Equipo Ganador</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg mt-3">Guardar Predicciones</button>
        </form>
    </div>
</body>
</html>