<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fase Final</title>
    <!-- Hoja de estilo propia -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!-- Tema personalizado de Bootstrap de https://www.bootstrapcdn.com/bootswatch/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/superhero/bootstrap.min.css"
          integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO" crossorigin="anonymous">

    <!-- Fuente personalizada de Google Fonts: Changa -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="col-md-12 text-center mt-5">
            <h3>TABLA DE PREDICCIONES Y PUNTUACION</h3>
            <table class="table table-dark table-striped mt-5">
                <thead>
                    <tr>
                        <th scope="col">Posición #</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Predicciones Acertadas</th>
                        <th scope="col">Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Usuario 1</td>
                        <td>5</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Usuario 2</td>
                        <td>4</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Usuario 3</td>
                        <td>2</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>