
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fase Final</title>
    <!-- Hoja de estilo propia -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!-- Tema personalizado de Bootstrap de https://www.bootstrapcdn.com/bootswatch/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/superhero/bootstrap.min.css"
          integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO" crossorigin="anonymous">

    <!-- Fuente personalizada de Google Fonts: Changa -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
</head>
<body>
     <nav class="navbar navbar-expand-lg bg-dark"> <!-- Adicional barra navegación -->
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link text-light" href="/"><h4>Inicio</h4></a>
            <a class="nav-link text-light" href="/dashboard"><h4>Dashboard</h4></a>
            <a class="nav-link text-light" href="/tabla-posiciones"><h4>Tabla de Posiciones</h4></a>
            <a class="nav-link text-light" href="{{ url_for('logout') }}"><h4>Cerrar Sesión</h4></a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
        <div class="row p-4">
            <h2 class="page-header">Continuemos {{nombre_usuario}}</h2> <!-- adicional -->
        </div>
    </div>
    {% if not prediccionesR16 %}
    <div class="col-md-12 text-center mt-3">
        <h3>Ronda de 16</h3>
        <form action="{{ url_for('fase_final') }}" method="POST">
            <div class="row">
                {% for partido_fase2 in partidos_fase2 %}
                <div class="col">
                    <div class="card-header mt-3">
                        <h5 class="card-title text-center">Rd 16 P {{ partido_fase2['id'] }}</h5>
                    </div>
                    <div class="card-body">
                        <input type="radio" checked id="equipo1_{{partido_fase2['id']}}" name="partido_{{partido_fase2['id']}}"
                        class="form-control" 
                        value="{{ partido_fase2['equipo1']['id'] }}">
                        <label for="equipo1_{{partido_fase2['id']}}">{{ partido_fase2['equipo1']['nombre'] }}</label>
                    </div>
                        <div class="text-center">
                            <h4>Vs.</h4>
                        </div>
                    <div class="card-body">
                        <input type="radio" id="equipo2_{{partido_fase2['id']}}" name="partido_{{partido_fase2['id']}}"
                        class="form-control"
                        value="{{ partido_fase2['equipo2']['id'] }}">
                        <label for="equipo2_{{partido_fase2['id']}}">{{ partido_fase2['equipo2']['nombre'] }}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-lg mt-3">Guardar Marcadores Ronda 16</button>
        </form>
    </div>
    {% endif %}

    {% if prediccionesR16 %}
    <div class="col-md-12 text-center mt-3 marcador-seleccionado">
        <h3>Tus ganadores de la Ronda de 16</h3>
        <div class="row">
            {% for pre16 in prediccionesR16 %}
            <div class="col">
                <div class="card-header mt-3">
                    <h5 class="card-title text-center">Rd 16 P {{ pre16['partido'] }}</h5>
                </div>
                <div class="card-body">
                    <span>{{ pre16['nombre_equipo'] }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if not prediccionesCuartos %}
    <div class="col-md-12 text-center mt-4">
        <h2>Haz tus predicciones para la Fase Final<br><br>Ronda Cuartos de Final</h2>
        <form action="{{ url_for('fase_final') }}" method="post">
            <div class="row mt-3">
                {% for partido_cuarto in partidos_cuartos %}
                <div class="col-sm-3">
                    <div class="card-header">
                        <h4>Cuartos {{ partido_cuarto['id'] }}</h4>
                    </div>
                    <div class="card-body">
                        <h4>Ganador Rd 16 P{{ partido_cuarto['id_1'] }}</h4>
                        <input type="radio" checked id="equipo1_{{partido_cuarto['equipo1']['nombre_equipo']}}" name="partido_cuartos_{{ partido_cuarto['id'] }}"
                        class="form-control"
                        value="{{partido_cuarto['equipo1']['id_equipo']}}">
                        <label for="equipo1_{{partido_cuarto['equipo1']['nombre_equipo']}}">{{partido_cuarto['equipo1']['nombre_equipo']}}</label>

                        <div class="text-center mt-2"></div>
                        <h4>Vs.</h4>
                        <h4>Ganador Rd 16 P{{ partido_cuarto['id_2'] }}</h4>
                        <input type="radio" id="equipo2_{{partido_cuarto['equipo2']['nombre_equipo']}}" name="partido_cuartos_{{ partido_cuarto['id'] }}"
                        class="form-control"
                        value="{{partido_cuarto['equipo2']['id_equipo']}}">
                        <label for="equipo2_{{partido_cuarto['equipo2']['nombre_equipo']}}">{{partido_cuarto['equipo2']['nombre_equipo']}}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-lg mt-3">Guardar Predicciones de cuartos</button>
        </form>
    </div>
    {% endif %}
        <!-- TAREA2: Colocar un if que presente el div de la línea 124 (semifinal) y el de la línea 167 (final)
        solamente cuando ya se hayan ingresado las predicciones de la ronda de cuartos -->

    {% if prediccionesCuartos %}
    <div class="col-md-12 text-center mt-3 marcador-seleccionado">
        <h3>Tus ganadores de la Ronda de Cuartos</h3>
        <div class="row">
            {% for preCuartos in prediccionesCuartos %}
            <div class="col">
                <div class="card-header mt-3">
                    <h5 class="card-title text-center">Cuartos Partido {{ preCuartos['partido_cuartos'] }}</h5>
                </div>
                <div class="card-body">
                    <span>{{ preCuartos['nombre_equipo'] }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if not prediccionesSemifinal %}
    <div class="col-md-12 text-center mt-4">
        <h2>Ronda Semifinal</h2>
        <form action="{{ url_for('fase_final') }}" method="post">
            <div class="row mt-3">
                {% for partido_semi in partidos_semi %}
                <div class="col-sm-6">
                    <div class="card-header">
                        <h4>Semifinal {{ partido_semi['id'] }}</h4>
                    </div>
                    <div class="card-body">
                        <h4>Ganador Cuartos {{ partido_semi['id_1'] }}</h4>
                        <input type="radio" checked id="equipo1_{{partido_semi['equipo1']['nombre_equipo']}}" name="partido_semi_{{ partido_semi['id'] }}"
                        class="form-control"
                        value="{{partido_semi['equipo1']['id_equipo']}}">
                        <label for="equipo1_{{partido_semi['equipo1']['nombre_equipo']}}">{{partido_semi['equipo1']['nombre_equipo']}}</label>

                        <div class="text-center mt-2"></div>
                        <h4>Vs.</h4>
                        <h4>Ganador Cuartos {{ partido_semi['id_2'] }}</h4>
                        <input type="radio" id="equipo2_{{partido_semi['equipo2']['nombre_equipo']}}" name="partido_semi_{{ partido_semi['id'] }}"
                        class="form-control"
                        value="{{partido_semi['equipo2']['id_equipo']}}">
                        <label for="equipo2_{{partido_semi['equipo2']['nombre_equipo']}}">{{partido_semi['equipo2']['nombre_equipo']}}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-lg mt-3">Guardar Predicciones de Semifinales</button>
        </form>
    </div>
    {% endif %}
                <!-- TAREA2: Crear un for para presentar los partidos_semifinal -->
                <!-- Nota:
                    * Utlizar radio button
                    * No olvidar el form
                    * El botton submit
                    * En todos los radiobutton, incluyendo el de la ronda de 16,
                      seleccionar el primero (el del equipo1 de cada partido).
                -->

    {% if prediccionesSemifinal %}
    <div class="col-md-12 text-center mt-3 marcador-seleccionado">
        <h3>Tus ganadores de la Ronda de Semifinal</h3>
        <div class="row">
            {% for preSemi in prediccionesSemifinal %}
            <div class="col">
                <div class="card-header mt-3">
                    <h5 class="card-title text-center">Semifinal Partido {{ preSemi['partido_semi'] }}</h5>
                </div>
                <div class="card-body">
                    <span>{{ preSemi['nombre_equipo'] }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if not prediccionesFinal %}
    <div class="col-md-12 text-center mt-4">
        <h2>Final</h2>
        <form action="{{ url_for('fase_final') }}" method="post">
            <div class="row mt-3">
                {% for partido_final in partidos_final %}
                <div class="col-sm-12">
                    <div class="card-body">
                        <h4>Ganador Semifinal {{ partido_final['id_1'] }} </h4>
                        <input type="radio" checked id="equipo1_{{partido_final['equipo1']['nombre_equipo']}}" name="partido_final_{{ partido_final['id'] }}"
                        class="form-control"
                        value="{{partido_final['equipo1']['id_equipo']}}">
                        <label for="equipo1_{{partido_final['equipo1']['nombre_equipo']}}">{{partido_final['equipo1']['nombre_equipo']}}</label>
                        <div class="text-center mt-2"></div>
                        <h4>Vs.</h4>
                        <h4>Ganador Semifinal {{ partido_final['id_2'] }}</h4>
                        <input type="radio" id="equipo2_{{partido_final['equipo2']['nombre_equipo']}}" name="partido_final_{{ partido_final['id'] }}"
                        class="form-control"
                        value="{{partido_final['equipo2']['id_equipo']}}">
                        <label for="equipo2_{{partido_final['equipo2']['nombre_equipo']}}">{{partido_final['equipo2']['nombre_equipo']}}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-lg mt-3">Guardar Predicciones Final</button>
        </form>
    </div>
    {% endif %}
    {% if prediccionesFinal %}
    <div class="col-md-12 text-center mt-3 marcador-seleccionado">
        <h3>Tu equipo seleccionado como Campeón</h3>
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <span>{{ prediccionesFinal['nombre_equipo'] }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}



    </div>
    {% endif %}

</body>
</html>